header {
    padding-top:5px;
}

body {
    background-color:darkgrey;
}

nav a {
    text-decoration: none;
    display: block;
    padding: .75em;
    font-size: 20px;
    color: black;
}

nav a:hover {
    outline: solid 1px black;    
}

nav ul {
    float: left;
    list-style-type: none;
    padding-left: 10vw;
}

nav ul li {
    float: left;
}

.account {
    float: right;
    padding-right: 10vw;
}

.account a {
    font-size: 20px;
    padding: 5px;
    border: solid 1px black;
    margin: 5px;
    width: 100%;
    text-align: center;
    cursor:pointer;
}

.account a:hover {
    background-color: rgba(10,10,10,.3);
}

hr {
    width: 100%;
}

* {
    box-sizing: border-box; 

}

main {
    display: block;
}

main h1 {
    padding-left:10vw;
}

main h2 {
    position: relative;
    text-align:left;
    left:30vw;
}

main p{
	text-align: center;
}

#view li a {
    font-size: 20px;
    padding: 5px 5vw 5px 5px;
    border: solid 1px black;
    margin: 5px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

    #view li a:hover {
        background-color: rgba(10,10,10,.3);
    }


main nav ul li{
    float: none;
}

.most-viewed-food-container {
    display: flex;
    margin-left:30vw;
}

.most-viewed-items{
    width:20vw;
    height:15vw;
    margin: 5px 10px 5px 0px;
}

#about {
    text-align:center;
    padding-left:0;
}




/* Slideshow container */
.slideshow-container {
    position: relative;
    margin-right: 10vw;
    margin-left: 30vw;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 1vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    left: 57vw;
    border-radius: 6px 0 0 6px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: rgba(0,0,0,0);
    border: solid 2px white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    transform: translateY(-40px);
}

    .active, .dot:hover {
        background-color: white;
    }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* Image Gallery CSS*/

#image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery-item {
    margin: 2vw;
    width: 20vw;
    height: 20vw;
    flex-wrap: wrap;
    background-color:salmon;
}

.image {
    width: 20vw;
    height: 15vw;
}

.food-name{
	display: block;
    font-size: 1vw;
    text-align: center;
    padding: 1vw;
}

.food-price{
	display: block;
    font-size: 1vw;
    text-align: center;
    padding: 1vw;
}