header {
    padding-top:5px;
}

body {
    background-color:darkgrey;
}

nav a {
    text-decoration: none;
    display: block;
    padding: .75em;
    font-size: 20px;
    color: black;
}

nav a:hover {
    outline: solid 1px black;    
}

nav ul {
    float: left;
    list-style-type: none;
    padding-left: 10vw;
}

nav ul li {
    float: left;
}

.account {
    float: right;
    padding-right: 10vw;
}

.account a {
    font-size: 20px;
    padding: 5px;
    border: solid 1px black;
    margin: 5px;
    width: 100%;
    text-align: center;
    cursor:pointer;
}

.account a:hover {
    background-color: rgba(10,10,10,.3);
}

hr {
    width: 100%;
}

* {
    box-sizing: border-box; 

}

main {
    display: block;
}

main h1 {
    padding-left:10vw;
}

main h2 {
    position: relative;
    text-align:left;
    left:30vw;
}

nav li button{
    font-size: 20px;
    padding: 5px 5vw 5px 5px;
    border: solid 1px black;
    margin: 5px;
    width:100%;
    text-align:left;
    cursor:pointer;
}

nav li button:hover {
    background-color: rgba(10,10,10,.3);
}


main nav ul li{
    float: none;
}

.most-viewed-food-container {
    display: flex;
    margin-left:30vw;
}

.most-viewed-items{
    width:20vw;
    height:15vw;
    margin: 5px 10px 5px 0px;
}

#about {
    text-align:center;
    padding-left:0;
}




/* Slideshow container */
.slideshow-container {
    position: relative;
    margin-right: 10vw;
    margin-left: 30vw;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 1vw;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    left: 57vw;
    border-radius: 6px 0 0 6px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: rgba(0,0,0,0);
    border: solid 2px white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    transform: translateY(-40px);
}

    .active, .dot:hover {
        background-color: white;
    }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}







/*Modal CSS*/

/* Full-width input fields */
.container input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

.modal button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.modal button:hover {
    opacity: 1;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container{
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
.modal hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}




/* Image Gallery CSS*/

#image-gallery {
    display: none;
    flex-wrap: wrap;
}

.image-gallery-item {
    margin: 2vw;
    width: 20vw;
    height: 20vw;
    flex-wrap: wrap;
    background-color:salmon;
}

.image {
    width: 20vw;
    height: 15vw;
}

.food-name{
    font-size: 1vw;
    text-align: center;
    padding: 1vw;
}