/* Image Gallery CSS*/

#image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery-item {
    margin: 2vw;
    width: 20vw;
    height: 25vw;
    background-color: salmon;
}

.image {
    width: 20vw;
    height: 15vw;
}

.food-label {
	font-size:16px;
	padding: 5px 0px 5px 5px;
}

.food-info {
    font-size: 16px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.food-desc {
	margin:5px;
}

.image-gallery-item a {
	display:block;
    font-size: 20px;
    padding: 5px;
    border: solid 1px black;
    margin: 0;
    width: 100%;
    text-align: center;
    cursor:pointer;
    text-decoration: none;
}

header {
    padding-top: 5px;
}

body {
    background-color: darkgrey;
}

nav a {
    text-decoration: none;
    display: block;
    padding: .75em;
    font-size: 20px;
    color: black;
}

nav a:hover {
    outline: solid 1px black;
}

nav ul {
    float: left;
    list-style-type: none;
    padding-left: 10vw;
}

nav ul li {
    float: left;
}


.search-container {
  float: right;
  padding-left: 10vw;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container a {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container a:hover {
  background: #ccc;
}


.account {
    float: right;
    padding-right: 10vw;
}

.account a {
font-size: 20px;
padding: 5px;
border: solid 1px black;
margin: 5px;
width: 100%;
text-align: center;
cursor: pointer;
}

.account a:hover {
    background-color: rgba(10,10,10,.3);
}

hr {
    width: 100%;
}

* {
    box-sizing: border-box;
}

main {
    display: block;
}

    main h1 {
        padding-left: 10vw;
    }



#view {
	float:left;
	font-size:20px;
	font-weight:bold;
}

#view li a {
    font-size: 20px;
    padding: 5px 5vw 5px 5px;
    border: solid 1px black;
    margin: 5px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

    #view li a:hover {
        background-color: rgba(10,10,10,.3);
    }


main nav ul li {
    float: none;
}