<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Foodbox - Home</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/foodbox.css}">
    <script th:src="@{/javaScript/foodbox.js}" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Foodbox</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/view_cart}">View Cart</a></li>
            </ul>
            <div class="account" th:switch="${admin}">
            	<div th:case="null">
	                <a th:href="@{/login}">Sign In</a>
	
	                <a th:href="@{/new_user}">Sign Up</a>
            	</div>

				<div th:case="true">
	                <a th:href="@{/admin}">Admin Page</a>
	
	                <a th:href="@{/logout}">Log out</a>
            	</div>
            	
            	<div th:case="false">
	                <a th:href="@{/logout}">Log out</a>
            	</div>

            </div>
        </nav><hr />
    </header>
    <main>
        <h1>View Food Categories</h1>
        <nav id="view">
            <ul>
                <li><a th:href="@{/view/all/none/default}">All</a></li>
                <li><a th:href="@{/view/indian/none/default}">Indian</a></li>
                <li><a th:href="@{/view/chinese/none/default}">Chinese</a></li>
                <li><a th:href="@{/view/italian/none/default}">Italian</a></li>
                <li><a th:href="@{/view/mexican/none/default}">Mexican</a></li>
            </ul>
        </nav>

        <div id="homeView">
            <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Images in slideshow -->
                <div class="mySlides fade">
                    <img th:src="@{/images/food-image1.jpg}" style="width:60vw; height:auto">
                </div>

                <div class="mySlides fade">
                    <img th:src="@{/images/food-image2.jpg}" style="width: 60vw; height:auto">
                </div>

                <div class="mySlides fade">
                    <img th:src="@{/images/food-image3.jpg}" style="width: 60vw; height: auto">
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <!-- The dots at bottom of image -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

            <h2>Most Viewed Food Items</h2>
            <div class="most-viewed-food-container">
                <img class="most-viewed-items" th:src="@{/images/Spaghetti.jpg}" />
                <img class="most-viewed-items" th:src="@{/images/chinesefood.jpg}" />
                <img class="most-viewed-items" th:src="@{/images/ChickenTikkaMasala.jpg}" />
            </div>
        </div>
	</main>
</body>
</html>