<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Foodbox - View Food Items</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/view.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Foodbox</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
            <div class="account">
                <a th:href="@{/login}">Sign In</a>

                <a th:href="@{/new_user}">Sign Up</a>
            </div>
        </nav><hr />
    </header>
    <main>
        <h1>View Food Categories</h1>
        <nav id="view">
            <ul>
                <li><a th:href="@{/view}">All</a></li>
                <li><a th:href="@{/view/indian}">Indian</a></li>
                <li><a th:href="@{/view/chinese}">Chinese</a></li>
                <li><a th:href="@{/view/italian}">Italian</a></li>
                <li><a th:href="@{/view/mexican}">Mexican</a></li>
            </ul>
        </nav>

               <!--Image Gallery of food items -->
        <div th:switch="${cuisines}">
        	<h2 th:case="null">No items found!</h2>
    		<div th:case="*" id="image-gallery">
	            <div class="image-gallery-item" th:each="cuisine : ${cuisines}">
	                <img class="image" th:src="@{${cuisine.getPicture()}}" />
	                <div>
		                <span class="food-label">Name:</span> 
		                <span class="'food-info" th:text="${cuisine.getName()}"></span>
	                </div>
	                <div>
		                <span class="food-label">Cuisine:</span> 
		                <span class="food-info" th:text="${cuisine.getCuisineType()}"></span>
	                </div>
	                <div>
		                <span class="food-label">Price:$</span> 
		                <span class="food-info" th:text="${cuisine.getPrice()}"></span>
	                </div>
	                <p class="food-desc" th:text="${cuisine.getDescription()}"></p>
	                <a th:href="@{/addToCart/{Id}(Id=${cuisine.getId()})}" > Add to Cart</a>
	            </div>
    		</div>
    	</div>
    </main>


</body>
</html>